.displayTasks {
  max-height: 93vh;
  overflow-y: scroll;
}

.displayTasks::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

.displayTasks::-webkit-scrollbar-thumb {
  background-color: #808080; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.pinned-container {
  margin-bottom: 8vh;
}

.pinned-container h1 {
  font-weight: 500;
  margin: 0;
}

.tasks {
  border-radius: 8px;
  background-color: #00000065;
}

.gallary-tasks {
  border-radius: 8px;
  background-color: #00000065;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 100px;
}

.tasks .task-container:not(:last-child) {
  border-bottom: 2px solid #59585865;
}
