.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
}

.checked-task-container {
  background-color: rgba(74, 234, 74, 0.464);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.checked-task-container:hover {
  background-color: rgba(74, 234, 74, 0.694) !important;
}

.task-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-container:hover {
  background-color: #000000cb;
}

.task-container h1 {
  font-size: 1.5rem;
  padding: 0;
}

.task-container h1,
.task-container p {
  margin: 0;
}

.folder {
  display: flex;
  align-items: center;
  gap: 5px;
}
